<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RAD - RAD Analytics Distro</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="index.html"> <img src="img/rad-logo.png" alt="RAD Analytics Distro"/></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Learn</a>
                    </li>
                    <li>
                        <a href="#">Install</a>
                    </li>
                    <li>
                        <a href="#">Connect</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/rad.jpg');background-position: right top;"></div>
                <div class="carousel-caption">
                    <h1>RAD</h1>
                    <h3>deploy, execute and manage your<br/>in-memory analytics</h3>
                    <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Learn</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Install</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Connect</span></a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/shinkansen_tokyo.png');"></div>
                <div class="carousel-caption">
                    <h1>RAD</h1>
                    <h3>big data analysis delivered<br/>in seconds, not hours</h3>
                    <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Learn</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Install</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Connect</span></a>
                            </li>
                        </ul>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/flashing-lights-wall.png');background-position: bottom right;"></div>
                <div class="carousel-caption">
                    <h1>RAD</h1>
                    <h3>an open source analytics stack<br/>and the community to back it</h3>
                    <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Learn</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Install</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"> <span class="network-name">Connect</span></a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Spark your Big Data</h2>
                    <p class="lead">RAD (RAD Analytics Distribution) is a Red Hat sponsored distribution of open source analytics tools that form the core of a next generation analytics platform.
                    It is curated with tight integration between its components, a predictable release cadence, published roadmap and defined community support policy. Included technologies fit
                    architecturally, address a relevant use case, and have minimal external dependencies.  It is also a user focused community to develop technology in a use case driven fashion.</p>
                    <hr class="section-heading-spacer">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/sparkler-raised.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <h2>Connect to the RAD community</h2>
                </div>
                <div class="col-lg-8">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                         <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">Learn</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Install</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Connect</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Red Hat Inc. 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
